.imgCrop {
    width: 500px;
 /*   position: relative;*/
    padding: 0 10px 20px 10px;
    font-size: 12px;
}
.imgCrop p {
    margin: 10px;
    color: #bbb
}
.imgCrop .action {
    width: auto;
    height: 30px;
    margin: 10px 0;
}
.imgCrop .cropped {
    position: absolute;
    right: -230px;
    top: 0;
    width: 200px;
    border: 1px #ddd solid;
    height: 460px;
    padding: 4px;
    box-shadow: 0px 0px 12px #ddd;
    text-align: center;
}
.imgCrop .imageBox {
    position: relative;
    height: 400px;
    width: 500px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    cursor: move;
    box-shadow: 4px 4px 12px #B0B0B0;
}
.imgCrop .imageBox .thumbBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
.imgCrop .imageBox .spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.imgCrop .Btnsty_peyton{
    float: right;
    width: 66px;
    display: inline-block;
    height: 57px;
    line-height: 50px;
    font-size: 18px;
    color: #FFFFFF;
    margin:0px 2px;
    background-color: #f38e81;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #B0B0B0;
    border: 0px #fff solid;}
/*选择文件上传*/
.imgCrop .new-contentarea {
    width: 165px;
    overflow:hidden;
    margin: 0 auto;
    position:relative;float:left;
}
.new-contentarea label {
    width:100%;
    height:100%;
    display:block;
}
.imgCrop .new-contentarea input[type=file] {
    width:188px;
    height:60px;
    background:#333;
    position:absolute;
    right:50%;
    margin-right:-94px;
    top:0;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:-999999;
}
.imgCrop a.upload-img{
    width:165px;
    display: inline-block;
    margin-bottom: 10px;
    height:57px;
    line-height: 57px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #f38e81;
    border-radius: 3px;
    text-decoration:none;
    cursor:pointer;
    border: 0px #fff solid;
    box-shadow: 0px 0px 5px #B0B0B0;
}
.imgCrop a.upload-img:hover{
    background-color: #ec7e70;
}
